*
{
	padding: 0;
	margin: 0;
}
#wrapper
{
	border: solid #ffD6AD;

}
#header
{
	background-color: red;
	height: 50px;
}
#banner
{
	background-color: gray;
	height: 200px;
}
#circle-container
{
	
	width: 80%;
	margin: 70px auto;

}
#circle-container::after,#box-container::after
{
	content: " ";
	display: block;
	clear: both;
}

.circle
{
	width: 250px;
	height: 250px;
	background-color: gray;
	border-radius: 200px;
	float: left;
	margin-left: 70px;
}

#box-container
{
	/*border: solid green;*/
	width: 87%;
	margin: 0px auto;
}
.box
{
	height: 200px;
	width: 381px;
	background-color: brown;
	float: left;
	margin: 5px;
}
#footer
{
	height: 100px;
	background-color: orange;
	margin-top: 70px;
}








































