*
{
    padding: 0;
    margin: 0;
}
#wrapper
{
    border:solid;
    padding: 10px;
}
#header
{
    height: 60px;
    background-color:darkgoldenrod;
    padding: 10px;
}
#logo
{
    width: 150px;
    height: 60px;
    background-color: maroon;
}
#navbar
{
	height: 40px;
	background-color: #758209;
	margin-top: 5px;
}
#container 
{
	
	margin-top: 5px;
}
#container::after
{
	content: "";display: block;clear: both;
}
#left-panel
{
	width: 25%;
	height: 500px;
	background-color: yellow;
	float: left;
}
#right-section
{
	width: 74%;
	height: 500px;
	background-color: orange;
	float: right;
}
#footer
{
	height: 80px;
	background-color: green;
	margin-top: 5px; 

}







	